{% extends "layouts/homepage.html" %}



{% set selectedNav = "Home" %}
{% set pageTitle = "Department for Education Design History service" %}

{% block hero %}
  <section class="dfe-hero">
    <div class="dfe-width-container ">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Design Histories</h1>
          <p class="govuk-body-l">Documenting changes to services over time from teams in the Department for Education.</p>
        </div>
      </div>
    </div>

  </section>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Teams</h2>

      <div class="dfe-grid-container">

        {% for team in teams.data %}

          <div class="dfe-card">
            <div class="dfe-card--text-header">
              <div class="dfe-card--text-header-container">
                <h2 class="govuk-heading-m">
                  <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/team/{{team.attributes.Slug}}">{{team.attributes.Title}}</a>
                </h2>
              </div>
            </div>

            <div class="dfe-card-container">
              <p>{{team.attributes.Description}}</p>
            </div>
          </div>
        {% endfor %}

      </div>

    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-l">Posts by tag</h2>
      {% for tag in tags.data %}
        <a href="/tag/{{tag.attributes.Slug}}" class="dfe-dh-tag">{{tag.attributes.Tag}}</a>
      {% endfor %}

      <div class="cta-banner">
        <h2 class="govuk-heading-s">Start your own design history</h2>
        <p>Help people understand changes to services and work in the open</p>
        <a href="/start-design-history" class="cta-link">Get started</a>
        </div>
    </div>
  </div>

{% endblock %}