{% extends "layouts/homepage.html" %}



{% set selectedNav = "Home" %}
{% set pageName = "Homepage" %}
{% set pageDescription = "We work in the open across the Department for Education. Find out how our services change over
time through our teams design histories."%}

{% block hero %}
<section class="dfe-page-hero">
  <div class="dfe-width-container ">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Design histories</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<div class="dfe-width-container ">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


      <h2 class="govuk-heading-l">Recent posts</h2>

      <div class="dfe-grid-container govuk-!-margin-top-5">

        {% for post in posts.data %}

        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2 class="govuk-heading-s">
              <a href="/{{post.attributes.service.data.attributes.Slug}}/{{post.attributes.Slug}}"
                class="govuk-link govuk-link--no-visited-state dfe-card-link--header">{{post.attributes.Title}}</a>
            </h2>
            <p class="govuk-body-s">{{post.attributes.Lede | truncate(150)}}</p>
            <div class="dfe-card-meta">
              <p class="govuk-body-s">{{post.attributes.service.data.attributes.Title}}</p>
              <p class="govuk-body-s govuk-!-margin-bottom-0">{{post.attributes.Publication_date | date('D MMMM YYYY')}}
              </p>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Older posts</h2>
      {% for post in postsolder.data %}
      <p class=" govuk-!-margin-bottom-2">
        <a href="/{{post.attributes.service.data.attributes.Slug}}/{{post.attributes.Slug}}" target="_blank"
          class="govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-2 govuk-heading-s">{{post.attributes.Title}}</a>
      </p>
      <p class="govuk-body govuk-body-s">{{post.attributes.service.data.attributes.Title}} on
        {{post.attributes.Publication_date | date('D MMMM YYYY')}}</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      {% endfor %}
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Posts by tag</h2>
      {% for tag in tags.data %}
      <a href="/tag/{{tag.attributes.Slug}}" class="dfe-dh-tag">{{tag.attributes.Tag}}</a>
      {% endfor %}
      <div class="dfe-panel govuk-!-margin-top-5">
        <h2 class="govuk-heading-s">Start your own design history</h2>
        <p>Help people understand changes to services and work in the open</p>
        <a href="/start-design-history" class="cta-link">Get started</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}