{% extends "layouts/content-with-sidenav-left.html" %}
{% set pageName = "Start a design history" %}
{% set pageDescription = "Request access to the content management system to document and share how your service changes over time."%}
{% set selectedNav = "Guidance" %}




{% block sideContent %}

<nav class="dfe-vertical-nav">


  <ul class="dfe-vertical-nav__section">
    <li class="dfe-vertical-nav__section-item  dfe-vertical-nav__section-item--current">
      <a class="dfe-vertical-nav__link" href="/start-design-history">Start a design history</a>
    </li>
    <li class="dfe-vertical-nav__section-item">
      <a class="dfe-vertical-nav__link" href="/guidance">Manage a design history</a>
    </li>
  </ul>
</nav>

{% endblock %}

{% block content %}


      <p>A design history is a public way to document changes to a service. It tells the story of what design changes have to be made and why.</p>

      <p>You can publish design histories using the Design histories CMS, which is maintained and supported by <a
          href="https://design.education.gov.uk/design-ops">DesignOps</a>.</p>

      <h2>Request access to CMS</h2>

    <p>Access can only be provided to people with an education.gov.uk email address.</p>

      <form method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="name">
            What is your name?
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="name" name="name" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            What is your email address?
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="email" name="email" type="text">
        </div>
        
        <p>DesignOps will contact you within 2 working days with details to sign in to the CMS.</p>

        <button class="govuk-button" data-module="govuk-button">
          Send request
        </button>

      </form>

      <h2>Get approval before starting a design history</h2>

      <p>You need to have approval from your Deputy Director (DD) to create a design history for your service.</p>

      <p>DDs can then delegate approval of individual posts to policy and product managers, this should be reviewed every 12 months.</p>

      <p>Also, consider if you need to liaise with <a
          href="https://educationgovuk.sharepoint.com/sites/communications/SitePages/strategic-communications-planning.aspx">central DfE communication colleagues</a>, depending on the nature and sensitivity of the project.</p>


{% endblock %}

