{% extends "layouts/content-with-sidenav-left.html" %}
{% set pageName = "Start a design history" %}
{% set pageDescription = "Start a design history for a Department for Education service and start sharing how a service
changes over time."%}
{% set selectedNav = "Guidance" %}


{% block breadcrumb %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block sideContent %}

<nav class="dfe-vertical-nav">


  <ul class="dfe-vertical-nav__section">

    <li class="dfe-vertical-nav__section-item">
      <a class="dfe-vertical-nav__link" href="/guidance">Guidance for design history users</a>
    </li>
    <li class="dfe-vertical-nav__section-item  dfe-vertical-nav__section-item--current">
      <a class="dfe-vertical-nav__link" href="/start-design-history">Start a design history</a>
    </li>
  </ul>
</nav>

{% endblock %}

{% block content %}



      <h2>Why have a design history</h2>

      <p>A design history is a great way to document changes to a service over time. </p>

      <p>You can publish design histories using our CMS which is maintained and supported by the <a
          href="https://design.education.gov.uk/design-ops">Design Ops team</a>.</p>

      <h2>Request access</h2>
      <p>Access can only be provided to people with an education.gov.uk email address.</p>

      <p>The Design Ops team will contact you within 2 working days with additonal information about how to access the
        Design
        History CMS service.</p>

      <form method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="name">
            What is your name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="name" name="name" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            What is your email address
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="email" name="email" type="text">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Send request
        </button>

      </form>

      <h2>Guidance for using the CMS</h2>

      <p>We have put together <a href="/guidance">step by step guidance</a> for starting a design history, managing
        images and
        media and writing posts.</p>


{% endblock %}

