{% extends "layouts/content-with-sidenav.html" %}


{% set pageName = "Posts tagged '" + tag.data[0].attributes.Tag + "'"%}





{% block content %}
<h2 class="govuk-heading-l">Posts</h2>
{% if posts %}
<div class="dfe-grid-container dfe-grid-container--wider">



  {% for post in posts.data %}

  <div class="dfe-card">
    <div class="dfe-card-container">
      <h2 class="govuk-heading-s">
        <a href="/{{post.attributes.service.data.attributes.Slug}}/{{post.attributes.Slug}}"
          class="govuk-link govuk-link--no-visited-state dfe-card-link--header">{{post.attributes.Title}}</a>
      </h2>
      <p class="govuk-body-s">{{post.attributes.Lede}}</p>
      <p class="govuk-body-s">{{post.attributes.service.data.attributes.Title}}</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0">{{post.attributes.Publication_date | date('D MMMM YYYY')}}</p>
    </div>
  </div>

  {% endfor %}

</div>
{% else%}
<h2 class="govuk-heading-m">There are no posts for this service.</h2>
{% endif %}
{% endblock %}

{% block sideContent %}
<h2 class="govuk-heading-l">Tags</h2>
{% for tag in tags.data %}
<a href="/tag/{{tag.attributes.Slug}}" class="dfe-dh-tag">{{tag.attributes.Tag}}</a>
{% endfor %}


</div>
{% endblock %}