{% extends "layouts/full.html" %}

{% set pageName = services
.data[0]
.attributes
.Title %}
{% set pageDescription = services.data[0].attributes.Description%}



{% block breadcrumb %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
  </ol>
</div>
{% endblock %}


{% block content %}
{% if services
.data[0]
.attributes
.services
.data.length %}
<h2 class="govuk-heading-m">Services by this team</h2>


<div class="dfe-grid-container">

  {% for service in services
  .data[0]
  .attributes
  .services
  .data %}
  {% if not service.attributes.Password %}



  <div class="dfe-card">
    <div class="dfe-card-container">
      <h2 class="govuk-heading-m">
        <a href="/{{service.attributes.Slug}}"
          class="govuk-link govuk-link--no-visited-state dfe-card-link--header">{{service.attributes.Title}}</a>
      </h2>
      <p>{{service.attributes.Description}}</p>
    </div>
  </div>


  {% endif %}
  {% endfor %}

</div>






{% else%}
<h2 class="govuk-heading-m">There are no services for this team yet.</h2>
{% endif %}
{% endblock %}